body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: MediumSlateBlue;
}

h1 {
    border-style: solid;
    border-radius: 5px;
}
thead {
    background-color: MediumTurquoise;
}

td, th {
    border-style: solid;
    border-radius: 5px; 
    text-align: left;
}

.name {
    font-weight: bold;
    width: 100px;
    padding: 5px;
}

.code {
    font-family: monospace;
    background-color: beige;
    padding: 5px;
    width: 200px;
}